$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);

$grey-21: hsla(0, 0%, 21%, 1);
$grey-28: hsla(0, 0%, 28%, 1);
$grey-33: hsla(0, 0%, 33%, 1);
$grey-37: hsla(0, 0%, 37%, 1);
$grey-65: hsla(0, 0%, 65%, 1);
$grey-77: hsla(0, 0%, 77%, 1);

$green-44: hsla(112, 38%, 44%, 1);
